<div class="jumbotron">
    <h1 class="title">钻 桥</h1>
    <p class="slogan">
    高端 就业 平台


    
    <br>
    
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>
  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fc7bcl172dj301101za9u.jpg" class = "img-thhumbnail">
            <div class="caption">
              <h7>广州海珠区</h7>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fc7b8c64dmj301s01s747.jpg" class = "img-thhumbnail">
            <div class="caption">
            <h7>evan3619@163.com</h7>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fc7begz3rjj3020020a9v.jpg" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h7>020-12344321</h7>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>